body{
  background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
}

:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --img-radius: 10px;
  --font1: 'Fira Sans Condensed', sans-serif;
  --font2: 'Lobster Two', cursive;
  --border-radius: 10px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

.body {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
}

.body h1 {
  font-size: 56px;
}

.body h3 {
  font-size: 30px;
  font-weight: 550;
  font-family: var(--font1);
  font-family: var(--font2);
  margin-bottom: 35px;
}

.contact h3{
  margin-bottom: 20px;
}


h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.body3 h1{
  margin: 60px 0px;
  font-size: 50px;
  font-family: var(--font1);
  font-weight: bold;
}
.col-md-6{
  text-align: center;
}

.selfImage img{
  width: 400px;
  margin: 0 auto;
  justify-content: flex-end;
}
.about-paragraphs p{
  margin-top: 35px;
  font-family: var(--font1);
  line-height: 1.5em;
  font-size: large;

}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.navigation-links a {
  margin: 20px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: var(--border-radius);
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-family: var(--font1);
  margin: 500px;
}

.about-link {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-family: var(--font1);
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 25px;
  text-decoration: none;
}
img {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px;
  border-radius: var(--img-radius);
}
.navigationFixed {
  position: fixed;
  width: 100%;
  margin-top: -100px;
}

.col-sm-6 h1 {
  text-align: start;
  font-size: 35px;
  margin-top: 55px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.col-sm-6 p {
  max-width: 100%;
  text-align: center;
  border-radius: var(--img-radius);
  background-color: rgb(247, 241, 231);
  font-size: 1.3rem;
  margin-left: 10px;
  margin-top: 20px;
}

.col-sm-6 button {
  max-width: 100%;
  text-align: center;
  display: block;
  margin: 40px auto;
  padding: 20px 15px;
  border-radius: var(--img-radius);
  background-color: blue;
  color: white;
  text-decoration: none;
}
.col-sm-6 img {
  margin-top: 20px;
}

.imageDescription{
  font-family:var(--font2);
  line-height: 2.0em;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

.langUsed{
  font-family:var(--font1);
  line-height: 2.0em;
  font-weight: bold;
  text-align: center;
}

@media(max-width:500px) {
  .body h1{
    font-size: 50px;
  }
  .col-sm-6 img{
    width: 0px;
  }  

  .body h3 {
    font-size: 16px;
  }

  .body3 h1{
    font-size: 40px;
  }

  .navigation-links a {
    margin: 15px;
    border-radius: 4px;
    padding: 10px 7px;
    text-decoration: none;
    text-transform: capitalize;
  }

  .col-sm-6 h1 {
    font-size: 40px;
    margin-top: 5px;
  }

  .col-sm-6 p {
    font-size: 1.0rem;
    margin-top: 20px;
  }

  h2 {
    font-size: 1.0em;
}

.body {
  margin-left: 8px;
  margin-right: 25px;
}

.about-paragraphs p{
  text-align: center;
}
.selfImage img{
  width: 300px;
  margin: 0 auto;
  justify-content: center;
}

}